###############################################
# 🔹 n8n Postgres (superuser)
###############################################
N8N_DB_NAME=n8n-db-local
N8N_DB_USER=n8n-user
N8N_DB_PASS=n8n-password
# n8n secrets
N8N_ENCRYPTION_KEY=supersecretkeyforn8n

###############################################
# 🔹 Postiz Postgres (superuser)
###############################################
# POSTIZ_DB_NAME=postiz-db-local
# POSTIZ_DB_USER=postiz-user
# POSTIZ_DB_PASS=postiz-password
# # Postiz secret (make it long/random)
# POSTIZ_JWT_SECRET=your-super-long-random-string


###############################################
# 🔹 Litellm Postgres (superuser)
###############################################
LITELLM_DB_NAME=litellm-db-local
LITELLM_DB_USER=litellm-user
LITELLM_DB_PASS=litellm-password

# LiteLLM API keys (openssl rand -hex 32)
LITELLM_MASTER_KEY=master_key_123
LITELLM_SALT_KEY=salt_key_456

###############################################
# 🔹 Open-WebUI
###############################################
# WEBUI_SECRET_KEY=webui_secret_123

###############################################
# 🔹 Domain Settings (Traefik / URLs)
###############################################
# Replace these with your real domain names
DOMAIN_BASE=alexandru-croitoriu.dev

# Public endpoints for each app
N8N_DOMAIN=n8n.${DOMAIN_BASE}
LITELLM_DOMAIN=litellm.${DOMAIN_BASE}
# POSTIZ_DOMAIN=postiz.${DOMAIN_BASE}
WEBUI_DOMAIN=webui.${DOMAIN_BASE}

###############################################
# 🔹 Optional (adjust time zone, region, etc.)
###############################################
TZ=Europe/Bucharest
GENERIC_TIMEZONE=Europe/Berlin
NODE_ENV=production